.replay_cache
mods/carpentersblocks/CarpentersBlocksCachedResources.zip
*.dll
*.dat
config/AppliedEnergistics2/CustomRecipes.cfg
config/AppliedEnergistics2/recipes/items.csv
updates.html
minetweaker.log
optionsnf.txt
logs
fonts
*.cache
config/UniqueNames.txt
crash-reports
coretweaks
bettercrashes-stackdeobfuscator-methods.csv
saves
XaeroWaypoints
XaeroWorldMap
config/JustEnoughCalculation/record.json
usernamecache.json
options.txt
XaeroWaypoints_*
backups
screenshots
config/hbmRecipes/_*
config/hbmConfig/_*
serverutilities/aurora.cfg
serverutilities/client/notifications.json
serverutilities/client/sidebar_buttons.json
serverutilities/client/serverutilities.cfg
serverutilities/server/ranks.txt
serverutilities/server/players.txt
serverutilities/server/stat_leaderboards.json
server-resource-packs
config/betterquesting.7z
signpic
config/signpic.cfg
config/splash.properties
config/hodgepodgeEarly.properties
.mixin.out
*.duplicate
LootBagStorage
*.log
CustomSkinLoader
schematics
structures
usercache.json
mods/mp3spi-1.9.5-1.jar
mods/vorbisspi-1.0.3-1.jar
mods/jaad-0.8.5.jar
options_skinport.txt
map exports
config/NEI/client.cfg
config/iChunUtil.cfg
config/shaders.properties
config/gliby_vc/ClientSettings.ini
settings.rtg
config/identity
*.errored
*.tmp
local/crash_assistant
config/crash_assistant/problematic_mods_config.json

*.so

icon.png

TimeUsage.txt
config/CustomOreGen/modules/default/AppliedEnergistics.xml
config/CustomOreGen/modules/default/Vanilla.xml
config/CustomOreGen/modules/default/TinkersSteelworks.xml
config/CustomOreGen/modules/default/TinkersConstruct.xml
config/CustomOreGen/modules/default/ThermalFoundation.xml
config/CustomOreGen/modules/default/Thaumcraft4.xml
config/CustomOreGen/modules/default/SimpleOres.xml
config/CustomOreGen/modules/default/ReactorCraft.xml
config/CustomOreGen/modules/default/RailCraft.xml
config/CustomOreGen/modules/default/ProjectRed.xml
config/CustomOreGen/modules/default/PamsHarvestCraft.xml
config/CustomOreGen/modules/default/Nuclearcraft.xml
config/CustomOreGen/modules/default/Netherrocks.xml
config/CustomOreGen/modules/default/NetherOres.xml
config/CustomOreGen/modules/default/MinecraftSpecialRules.xml
config/CustomOreGen/modules/default/MinecraftComesAlive.xml
config/CustomOreGen/modules/default/MineChem.xml
config/CustomOreGen/modules/default/Mimicry.xml
config/CustomOreGen/modules/default/Metallurgy4.xml
config/CustomOreGen/modules/default/Mekanism.xml
config/CustomOreGen/modules/default/MagnetiCraft.xml
config/CustomOreGen/modules/default/Mariculture.xml
config/CustomOreGen/modules/default/IndustrialCraft2.xml
config/CustomOreGen/modules/default/ImmersiveEngineering.xml
config/CustomOreGen/modules/default/Gregtech6.xml
config/CustomOreGen/modules/default/Gregtech.xml
config/CustomOreGen/modules/default/GeoStrata.xml
config/CustomOreGen/modules/default/Galacticraft.xml
config/CustomOreGen/modules/default/FossilsandArchaeology.xml
config/CustomOreGen/modules/default/Forestry.xml
config/CustomOreGen/modules/default/FlaxbeardsSteamcraft.xml
config/CustomOreGen/modules/default/Factorization.xml
config/CustomOreGen/modules/default/EtFuturum.xml
config/CustomOreGen/modules/default/ElectriCraft.xml
config/CustomOreGen/modules/default/DenseOres.xml
config/CustomOreGen/modules/default/CommonOres.xml
config/CustomOreGen/modules/default/Chisel2.xml
config/CustomOreGen/modules/default/BiomesOPlenty.xml
config/CustomOreGen/modules/default/ArsMagica2.xml
config/CustomOreGen/CustomOreGen_Config_Default.xml
