# Configuration file

base {
    B:disableArmWear=false
    B:enableArmWearWithVanillaM=true
    S:renderArmWearList <
     >
    S:renderBlackList <
     >
    B:useCheckByItem=false
    D:vanillaArmorModelSize=0.4
}


